.search-bar {
  margin: 20px;
  text-align: center;
  input {
    width:100%;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}

.avatar {
  width:100%;
}

.optButton {
  border: 0;
  background-color: #ddd;
  padding: 0 3px;
  margin: 2px;
  &:hover {
    background-color: #eee;
  }
  &.active {
    background-color: #73c3dd;
  }
}

.media-object {
  max-width: 150px;
}

.video {
  &-title {
    font-size: 20px;
    font-weight: bold;
  }

  &-item img {
    max-width: 64px;
  }

  &-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}

.list-group-item {
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
  &.activeItem {
    background-color: #73c3dd;
  }
}
